h1 {

color:  #ff0066;
}
#server-side-intro {
   color: purple;
}

th {
  font-size: 19px;
  text-decoration: underline;
}

.my-brand {
  color:red;
  font-style:italics;
  text-transform:uppercase;
  font-size:20px;
}
